@import url(https://fonts.googleapis.com/css?family=Arimo:regular,700);

$fontfamily: "Arimo", sans-serif;

@function calcSize($f-min, $f-max, $w-min, $w-max) {
   $k: ($f-max - $f-min)/ ($w-max - $w-min);
   $b: $f-min - $k * $w-min;

   $b: $b * 1px;

   @return calc(#{$k} * 100vw + #{$b});
}

@import "_nullstyle";

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   font-family: $fontfamily;
   background: #181818;
   color: #f3f6f9;
   overflow-wrap: anywhere;
   //white-space: pre-line;
}

.container {
   max-width: 700px;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   margin: 40px 0;

   @media (max-width: 699px) {
      margin: calcSize(20, 40, 320, 699) 0 20px;
   }

   &__title {
      font-size: 36px;
      line-height: 40px;
      padding: 0 40px;

      @media (max-width: 699px) {
         font-size: calcSize(24, 36, 320, 699);
         padding: 0 calcSize(20, 40, 320, 699);
      }
   }
}

.page {
   flex: 1 1 auto;
}

.request {
   border-radius: 10px;
   background: #232323;
   padding: 20px 40px 0;

   @media (max-width: 699px) {
      padding: 20px calcSize(20, 40, 320, 699) 0;
   }

   &__error {
      height: 30px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      color: red;

      @media (max-width: 699px) {
         height: calcSize(14, 20, 320, 699);
         font-size: calcSize(10, 14, 320, 699);
         line-height: calcSize(14, 20, 320, 699);
      }
   }
}

.form {
   display: flex;
   gap: 20px;
   margin-bottom: 10px;

   @media (max-width: 699px) {
      margin-bottom: calcSize(5, 10, 320, 699);
      gap: calcSize(10, 20, 320, 699);
   }

   &__search {
      width: 100%;
      background-color: inherit;
      border-bottom: 1px solid #f3f6f9;
      color: inherit;
      font-size: 30px;
      line-height: 62px;

      @media (max-width: 699px) {
         font-size: calcSize(20, 30, 320, 699);
         line-height: calcSize(40, 62, 320, 699);
      }

      &:focus {
         border-color: #6532f8;
      }
   }

   &__searchBtn {
      height: 62px;
      width: 62px;
      min-width: 62px;
      background: url("../resourses/img/icon/search.webp") center/40px no-repeat;
      background-color: rgb(141, 119, 241);
      border-radius: 50%;

      @media (max-width: 699px) {
         height: calcSize(40, 62, 320, 699);
         width: calcSize(40, 62, 320, 699);
         min-width: calcSize(40, 62, 320, 699);
         background-size: calcSize(30, 40, 320, 699);
      }

      &:hover {
         background-size: 45px;
         transition: background-size 100ms linear;

         @media (max-width: 699px) {
            background-size: calcSize(30, 40, 320, 699);
         }
      }

      &:disabled {
         cursor: not-allowed;
         pointer-events: none;
         background-color: grey;
      }
   }
}

.animation-loading {
   font-size: 24px;
   line-height: 50px;
   font-family: Helvetica, sans-serif, Arial;
   animation: load 2s infinite 0s ease-in;
   animation-direction: alternate;
   text-shadow: 0 0 1px white;

   @media (max-width: 699px) {
      font-size: calcSize(16, 24, 320, 699);
      line-height: calcSize(30, 50, 320, 699);
   }
}

@keyframes load {
   0% {
   }
   100% {
      opacity: 0.2;
      filter: blur(5px);
      letter-spacing: 3px;
   }
}

.movies {
   border-radius: 10px;
   background: #232323;
   text-align: center;
   padding: 20px;
   overflow-y: auto;

   //!настройка скролл-барра
   //скроллбары в Chrome/Edge/Safari
   &::-webkit-scrollbar {
      width: 10px;
      /* ширина scrollbar */
   }

   &::-webkit-scrollbar-track {
      background: #6532f8;
      /* цвет дорожки */
      border-radius: 50px;
      /* закругления дрожки */
   }

   &::-webkit-scrollbar-thumb {
      background-color: #3a3939;
      /* цвет плашки */
      border-radius: 50px;
      /* закругления плашки */
      border: 2px solid #6532f8;
      /* padding вокруг плашки */
   }

   //скроллбары в Fifefox
   scrollbar-width: thin;
   /* "auto" или "thin"  */
   scrollbar-color: #3a3939 #6532f8;
   /* плашка скролла и дорожка */

   @media (max-width: 699px) {
      border-radius: calcSize(10, 20, 320, 699);
   }

   &__list {
      display: flex;
      flex-direction: column;
      max-height: 53vh;
   }

   &__list-item {
      display: flex;
      gap: 30px;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 200px;
      min-height: 200px;
      margin-bottom: 5px;
      padding: 20px;
      border-radius: 10px;
      background: #3a3939;
      cursor: pointer;

      &:hover {
         transform: scale(1.01);
         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
         transition: all 300ms ease-in-out;
      }

      @media (max-width: 699px) {
         gap: calcSize(15, 30, 320, 699);
         height: calcSize(90, 200, 320, 699);
         min-height: calcSize(90, 200, 320, 699);
         padding: calcSize(7, 20, 320, 699);
         border-radius: calcSize(8, 10, 320, 699);
      }
   }
}

.item {
   &__poster {
      width: 25%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      font-size: 16px;
      line-height: 16px;

      @media (max-width: 699px) {
         font-size: calcSize(10, 16, 320, 699);
         line-height: calcSize(10, 16, 320, 699);
      }
   }

   &__description {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      padding: 10px 0;
      text-align: left;

      @media (max-width: 699px) {
         padding: calcSize(0, 10, 320, 699);
      }
   }

   &__title {
      font-size: 28px;
      line-height: 28px;
      font-weight: 700;
      overflow: hidden;

      @media (max-width: 699px) {
         font-size: calcSize(14, 28, 320, 699);
         line-height: calcSize(14, 28, 320, 699);
      }
   }

   &__year {
      font-size: 16px;
      line-height: 16px;
      color: #0094ff;

      @media (max-width: 699px) {
         font-size: calcSize(10, 16, 320, 699);
         line-height: calcSize(10, 16, 320, 699);
      }
   }

   &__type {
      font-size: 20px;
      line-height: 20px;
      color: rgb(250, 235, 207);

      @media (max-width: 699px) {
         font-size: calcSize(10, 20, 320, 699);
         line-height: calcSize(10, 20, 320, 699);
      }
   }
}

.movie {
   max-height: 53vh;
   text-align: left;

   &__backBtn {
      background-color: #3a3939;
      border-radius: 20px;
      margin-bottom: 20px;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;

      @media (max-width: 699px) {
         margin-bottom: calcSize(20, 30, 320, 699);
         font-size: calcSize(14, 16, 320, 699);
         line-height: calcSize(30, 40, 320, 699);
      }

      &:hover {
         color: black;
         background-color: rgb(142, 119, 241);
         transition: all 100ms linear;
      }
   }

   &__info {
      display: flex;
      gap: 30px;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;

      @media (max-width: 699px) {
         gap: calcSize(15, 30, 320, 699);
      }
   }

   &__poster {
      width: 40%;
      max-height: 35vh;
      object-fit: contain;
      object-position: top;
      padding-top: 10px;
      font-size: 16px;
      line-height: 16px;

      @media (max-width: 699px) {
         font-size: calcSize(12, 16, 320, 699);
         line-height: calcSize(12, 16, 320, 699);
      }
   }

   &__description {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 699px) {
         gap: calcSize(7, 10, 320, 699);
      }
   }

   &__title {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 28px;
      font-weight: 700;

      @media (max-width: 699px) {
         margin-bottom: calcSize(5, 10, 320, 699);
         font-size: calcSize(16, 28, 320, 699);
         line-height: calcSize(16, 28, 320, 699);
      }
   }

   &__data {
      font-size: 16px;
      line-height: 20px;

      @media (max-width: 699px) {
         font-size: calcSize(10, 16, 320, 699);
         line-height: calcSize(12, 16, 320, 699);
      }
   }

   &__dataset {
      color: #0094ff;
   }

   &__plot {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 20px;

      @media (max-width: 699px) {
         font-size: calcSize(12, 16, 320, 699);
         line-height: calcSize(16, 20, 320, 699);
      }
   }
}

.footer {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   padding: 15px;
   gap: 15px 50px;
   color: rgba(255, 255, 255, 0.5);
}
